$primary: #860ecc;

@import '~bulma/sass/utilities/initial-variables';
$custom-colors: (
  "lighter": ($grey-lighter, $black)
);

@import '~bulma/bulma.sass';

$checkbox-checked-width: .2rem;
@import '~bulma-checkradio/src/sass/index.sass';

// sticky footer
.uc-everything {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.uc-above-footer {
  flex: 1 0 auto;
}
.uc-footer {
  flex-shrink: 0;
}
